// .key_details {
//     font-family: "Montserrat", sans-serif;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 22px;
//     color: #332288;
// }

// .consumer_key,
// .consumer_secrets {
//     font-family: "Montserrat", sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     color: #332288;
// }

// .key {
//     font-family: "Montserrat", sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     color: #117733;
// }
// .copy {
//     font-family: "Montserrat", sans-serif;
//     font-style: normal;
//     font-weight: normal;
//     color: #117733;
//     border: 1px solid #117733;
//     box-sizing: border-box;
//     border-radius: 6px;
//     // background-color: #e5e5e5;
//     background-color: white;
// }
// // --------------------------------media quries -------------------------------------------

// /* Extra Large screens ----------- */
// @media only screen and (min-width: 1524px) {
//     .consumer_key,
//     .consumer_secrets {
//         font-size: 18px;
//         line-height: 22px;
//     }
//     .key {
//         font-size: 18px;
//         line-height: 22px;
//     }
//     .copy {
//         font-size: 18px;
//         line-height: 22px;
//         width: 89px;
//         height: 40px;
//         border-radius: 6px;
//     }
// }
// /* Large screens ----------- */
// @media only screen and (min-width: 1224px) and (max-width: 1524px) {
//     .consumer_key,
//     .consumer_secrets {
//         font-size: 15px;
//         line-height: 22px;
//     }
//     .key {
//         font-size: 15px;
//         line-height: 22px;
//     }
//     .copy {
//         font-size: 15px;
//         line-height: 22px;
//         width: 70px;
//         height: 35px;
//         border-radius: 5px;
//     }
// }
// /* Desktops and laptops ----------- */

// @media only screen and (min-width: 768px) and (max-width: 1224px) {
//     .consumer_key,
//     .consumer_secrets {
//         font-size: 15px;
//         line-height: 22px;
//     }
//     .key {
//         font-size: 13px;
//         line-height: 22px;
//     }
//     .copy {
//         font-size: 13px;
//         line-height: 22px;
//         width: 60px;
//         height: 30px;
//         border-radius: 5px;
//     }
// }
// /* iPhone 6, 7, 8 ----------- */
// @media only screen and (min-width: 375px) and (max-width: 667px) {
//     .consumer_key,
//     .consumer_secrets {
//         font-size: 14px;
//         line-height: 22px;
//     }
//     .key {
//         font-size: 14px;
//         line-height: 22px;
//     }
//     .copy {
//         font-size: 12px;
//         line-height: 22px;
//         width: 50px;
//         height: 30px;
//         border-radius: 5px;
//     }
// }

.GeorgDownload-secrets{
    font-family: "Montserrat", sans-serif !important;
    font-size: 18px;
    font-weight: bold;
    color: #332288;
}
.label-jwt-auth-div-secrets{
    width: 300px !important;
    height: 30px !important;
   display: inline;
   position: absolute;
   border-radius: 5px;
   border: 1px solid #40a9ff;
}
.label-jwt-auth-text-secrets{
    font-family: "Montserrat", sans-serif !important;
    position: absolute;
    font-size: 16px;
    margin-left: 80px; 
}
.hr-tag{  
    //  margin-left: -120px !important;
     border: 1px solid rgba(245, 245, 245, 0.808);
     margin-top: 50px !important;
}
.App-Credentials{
    font-family: "Montserrat", sans-serif !important;
    font-size: 18px;
    font-weight: bold;
    color: #332288;
    margin-top: 30px !important;
}
.Api-Key-secrets{
    font-family: "Montserrat", sans-serif !important;
    font-size: 13px;
    font-weight: bold;
    color: #332288; 
}
.Api-Key-input{
    width: 625px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #40a9ff;
    padding-left: 10px;
}

.Copy_Api_key_btn{
    display: inline;
    width: 60px;
    height: 20px !important;
    border-radius: 9px;
    margin-left: -65px;
    margin-top: 10px;
    border: 1px solid #40a9ff;
    background-color: #44aa99;

}
.Copy_Api_key_btn:hover{
    background-color: white !important;
}
.Copy_Api_key_btn span{
    font-family: "Montserrat", sans-serif !important;
    margin-top: -13px !important;
    margin-left: -19px;
    position: absolute;
    color: white;
}
.Copy_Api_key_btn span:hover{
    color:#44aa99 !important;
}
.Api-secrets{
    font-family: "Montserrat", sans-serif !important;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    color: #332288;
}
.Api-secrets-input{
    width: 500px;
    height: 40px;
    border: 1px solid #40a9ff;
    border-radius: 7px;
    padding-left: 10px;
}
.Copy_Api_secrets_btn{
    display: inline;
    width: 60px;
    height: 20px !important;
    border-radius: 9px;
    margin-left: -65px;
    margin-top: 10px;
    border: 1px solid #40a9ff;
    background-color: #44aa99;

}
.Copy_Api_secrets_btn:hover{
    background-color: white !important;
}
.Copy_Api_secrets_btn span{
    font-family: "Montserrat", sans-serif !important;
    margin-top: -13px !important;
    margin-left: -19px;
    position: absolute;
    color: white;
}
.Copy_Api_secrets_btn span:hover{
    color:#44aa99 !important;
   
}
.Copy_Api_secrets_btn span:focus{
    color:#44aa99 !important;
    
}
.regenrated_btn{
    background-color: #44aa99 !important;
        width: 110px !important;
        color: white !important;
        border-radius: 7px;
            margin-left: 20px;
    display: inline;
    border: 1px solid #40a9ff;

    }
    .regenrated_btn:hover{
        background-color: white !important;
            color: #44aa99 !important;
        }
        .regenrated_btn:focus{
            background-color: white !important;
                color: #44aa99 !important;
            }

.Jwt-counter-expire-div{
    display: flex;
    width: 625px;
    height: 250px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #40a9ff;
}
.Jwt-Token-expire-text{
 font-family: 'Montserrat',sans-serif !important;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 22px;
text-align: center;
align-content: center;
margin-top: 100px;
padding-left: 40px;
}
.token-expire-time{
    width: 625px;
    height: 30px;
    background-color: rgb(253, 223, 228);
    display: flex;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #40a9ff;
}
.token-expire-time-text{
    font-family: 'Montserrat',sans-serif !important;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}
.JWT-Token{
    font-family: "Montserrat", sans-serif !important;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    color: #332288;

}
.JWT-token-input{
    display: flex;
    width: 625px;
    height: 150px;
    border-radius: 7px;
    border: 1px solid #40a9ff;
    padding-left: 10px;
    // background-color: rgb(217, 180, 252);

}
.Jwt-token-copy-btn{
    display: inline;
    width: 60px !important;
    height: 20px !important;
    border-radius: 9px;
    background-color: #44aa99;
    margin-left: -60px;
    margin-top: 120px;
    
}
.Jwt-token-copy-btn-text{
    margin-top: -11px !important;
    margin-left: -19px;
    position: absolute;
    color: white;
    font-weight: bold;
   font-family: "Montserrat", sans-serif !important;
}

