.menu_items {
    background: #44aa99;
    border: 1px solid #44aa99;
    margin-bottom: 16px;
    color: #40623a;
}
.ant-menu-item:hover{
    border: 2px solid #117733;
}


.ant-menu-submenu-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.list_itms {
    font-size: 18px;
    line-height: 22px;
    color: #40623a;
}
.sub_items {
    text-align: left;
    // margin-left: -em;
    padding-right: 1px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #40623a;
}

.ant-layout-footer {
    padding: 0px;
}
.logout_button {
    width: 160px;
    height: 45px;
    margin-bottom: 1em;
    color: #882255;
    border: 1px solid #882255;
    box-sizing: border-box;
}
.logout_collapse_button {
    width: 100px;
    height: 2rem;
    margin-bottom: 1em;
    color: #882255;
    border: 1px solid #882255;
    box-sizing: border-box;
}

.ant-layout.ant-layout-has-sider > .ant-layout {
    background-color: white;
    
}

.ant-collapse-header {
    .ant-collapse-arrow {
        svg {
            margin-top: 5px !important;
        }
        width: 2em;
        height: 2em;
        border: 1px solid #332288;
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 1em !important;
        top: 2em;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    }
}
.plus {
    position: absolute;
    right: 1em;
    height: 28px;
    top: 8px;
    color: #332288;
}
